/** @format */

.ms-global-button {
  padding-left: 30px !important;
  padding-right: 30px !important;
  height: 50px !important;
  border-radius: 50px !important;
  text-transform: inherit !important;
  font: normal normal 500 16px/80px Raleway !important;
  background-color: #feb127 !important;
  &:hover,
  &:active {
    color: #fff !important;
    background-color: #feb127 !important;
  }
}
